.container {
    size: 960px;
    margin-bottom: 5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 75;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    float:left;
    clear: right;
   padding-top: 10px;
    width: 20%;
    height: 50px;
    font-weight: bold;
    margin-top: 11px;
    position: relative
}

.subcontainer {
    background-image: url("../images/gravel.png");
    height: 500px;
    margin-top: 20px;
    border-style: solid; border-width:thin; border-color: gray;
}


.card-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    color: #4aaaa5;
    font-size: 30px;
}
   
.card-img-top {
    height: 200px;
    width: 250px;
    float: left;
    margin: 0 .75em .5em 0;
}

.card-body { 
    font-family: 'Georgia', Times, Times New Roman, serif;

}
  
  .card-text{
    word-wrap: break-word;
  }

  .nav-link {
      color: #4aaaa5;
  }

  footer{
      background-color: grey;
      margin-top: 75px;
      height: 50px;
      margin-left: -5px;
      margin-right: -5px;
  }

  #example-message{
    height: 100px;
  }

  .sub-subcontainer{
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 24px;
}

  #contact{
    color: #4aaaa5;
    font-size: 30px;   
    margin-bottom:10px;
  }

  #footer2 {
    background-color: grey;
    height: 50px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .pictures {
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.container1 {
        position: absolute;
        bottom: 20px;
        width: 10px;
        height: 10px;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
      }

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

#portfolio {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;   
    margin-left: 10px;
}

.pics {
    height: 600px;
    width: 700px;
    padding-bottom: 12px;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;   
    margin-left: 10px;
}
